
body {
    background-color: rgb(255, 233, 218);
    border-radius: 5px;
    border-style: dashed;
}

.navi {
    width: 60%;
    text-align: center;
    list-style: none;
    font-size: 25px;

    border-radius: 5px;
    border-style: double;
    
    text-decoration: none;
    line-height: 40px;

    margin: auto;
    padding: 0;
}

.navi>li {
    display: inline-block;
    margin: 15px;
}


.navi>li>a{
    background-color: rgb(216, 216, 216);
    border-radius: 5px;
    border-style: solid;

    text-decoration: none;
    color: rgb(71, 71, 71);

    display: inline;
    text-align: center;
}

.navi>li>a:hover {
    
    background-color: rgb(179, 179, 255);
    transition:  all .5s ease;
}

img {

    height: auto;
    width: 650px;

    margin-top: 20px;

   filter: grayscale(35%);
   transition: all 0.5s ease;

   border-radius: 5%;
   margin: auto;
   display: block;
    
}

img:hover {
    filter: grayscale(0%);
    transition: all 0.5 ease;
}




h1 {
    font-size: 50px;
    text-align: center;
}

p {
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-size: 35px;
}